.info p {
    font-family: Poppins;
    color: rgb(255, 255, 255);
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loginButton {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1.5rem;
    width: 25%;
    min-width: auto;
    height: 3rem;
    border: none;
    background-color: rgb(64, 163, 163);
    &:hover {
        background-color: rgb(58, 148, 148);
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0px 0px 3px 2px rgb(25, 70, 70);
    }
}

.button {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1.5rem;
    width: 12rem;
    min-width: auto;
    border: none;
    background-color: rgb(64, 163, 163);
    margin-top: 1rem;
    &:hover {
        background-color: rgb(58, 148, 148);
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0px 0px 3px 2px rgb(25, 70, 70);
    }
}

.info {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

/* Mobile styling */

@media only screen and (max-width: 479px) {
      .info {
        right: 0rem;
        align-items: center;
        font-size: 0.8rem;
        width: 100%;
      }

      .buttonContainer {
        flex-direction: row;
        justify-content: center;
      }

      .button {
        font-size: 0.8rem;
        margin-top: 0rem;
        width: 9rem;
        color: rgb(40, 40, 40);
      }

      .loginButton {
        width: 80%;
        color: rgb(40, 40, 40);
      }
  }