.container {
    /*border: 2px dotted #000000;*/
    padding: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    border-bottom: 0.125rem solid rgb(64, 163, 163);
    color: rgb(255, 255, 255);
    background-color: rgb(40, 40, 40);
    &:hover {
        background-color: rgb(50, 50, 50);
    }
    &:focus {
        outline: 0;
        background-color: rgb(50, 50, 50);
        border-bottom: 0.125rem dotted rgb(64, 163, 163);
    }
    &:focus::placeholder { /* Clears the placeholder text when the input is focused */
        color: transparent;
    }
}

.radio {
    margin-top: 1rem;
}

.radio input {
    font-family: Poppins;
    font-size: 1rem;
}

.radio label {
    font-family: Poppins;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-right: .5rem;
}

.button {
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 1.5rem;
    width: 5rem;
    border: none;
    background-color: rgb(64, 163, 163);
    margin-top: 1rem;
    &:hover {
        background-color: rgb(58, 148, 148);
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0px 0px 3px 2px rgb(25, 70, 70);
    }
}